/*
 * Author - James Byrne
 * Submission for Rich Web Development Assignment 1
 * New stylesheet for the index page
 *
 * structure
 * grid -> grid-pad & col-x-6 -> item-pad -> content
*/


/* Rules for the grid that the columns sit in  */

/* Setting all of the elements to have the border-box property*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*Adjust properties of all columns */
[class*='col-'] {
  float: left;
  min-height: 1px;
  padding-right: 20px;
}
.grid {
  width: 100%;
  overflow: hidden;
}
.grid-pad {
  padding: 20px 20px 40px 20px;
}
.item-pad {
  padding: 0 10% 0 10%;
}
.no-top {
  padding-top: 0;
}
.col-6-6 {
  width: 100%;
}
.col-5-6 {
  width: 83.333%;
}
.col-4-6 {
  width: 66.667%;
}
.col-3-6 {
  width: 50%;
}
.col-2-6 {
  width: 33.333%;
  /*width: 30%;*/
}
.col-1-6 {
  width: 16.667%;
}
/*Adjust properties of standard elements */
body {
  margin: 0;
  background-color: #fafafa;
  color: black;
}
img {
  border-radius: 75px;
}
section {
  margin-bottom: 30px;
}
h3{
  margin: 0 auto;
}
h4 {
  margin: 0 auto;
}


@media only screen and (max-width: 550px) {
  .col {
    margin: 1% 0 1% 0;
  }
  .col-6-6, .col-5-6, .col-4-6, .col-3-6, .col-2-6, .col-1-6 {
    width: 100%;
  }
}
/*
  Max-device-width rather than max-width so the application will be responsive on newer higher resolution phones such as the iPhone 6s
*/

@media only screen and (max-device-width: 780px) {
  .col {
    margin: 1% 0 1% 0;
  }
  .col-6-6, .col-5-6, .col-4-6, .col-3-6, .col-2-6, .col-1-6 {
    width: 100%;
  }
  body {
    font-size: xx-large;
  }
}

/*Reusable CSS elements */

.center-content {
  vertical-align: middle;
  text-align: center;
}
.heading {
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 40px;
}
.content {
  padding-top: 15px;
  padding-bottom: 45px;
}
.content p {
  font-weight: bolder;
}
.shadow {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}
.blue-background {
  background-color: #0066B7;
  color: #fafafa;
}
.card {
  color: #fafafa;
  padding-top: 20px;
  min-height: 250px;
  width: 100%;
}
.card-heading {
  font-weight: bold;
}

/* CSS for the hero section  */

.hero {
  height: 100vh;
  width: 100%;
  background-image: url(file:///Users/james/development/rich-web-assignment-1/images/background-dark-city.png);
  background-repeat: no-repeat;
  background-clip: content-box;
  background-size: cover;
}
.hero-content-container {
  display: table;
}
.hero-content-container h3 {
  display: table-cell;
  vertical-align: middle;
  color: #ffffff;
  font-size: 52px !important;
  line-height: 52px;
}

/*CSS for the skills section */

.skill-icon {
  float: left;
}
.skill-icon > img {
  border-radius: 25px;
  max-height: 100px;
  max-width: 100px;
}
.skill-heading {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-align: left;
  margin-left: 125px;
  border-bottom: 2px solid #727272;
}
.skill-content {
  margin-left: 125px;
  text-align: left;
  height: 40px;
  margin-bottom: 25px;
}

/*CSS for the education section */
.education-icon {
  float: left;
  width: 33%;
  height: 33%;
}
.education-icon img {
  max-width: 100%;
  max-height: 100%;
}
.education-heading {
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-align: left;
  border-bottom: 2px solid white;
}
.education-content {
  margin-left: auto;
}

/*CSS for the honours-rewards*/
#honours-rewards {
  margin-bottom: 0px;
}

/*CSS for the footer */
.footer {
  margin-bottom: 0;
  min-height: 30px;
  background-color: #162521;
  color: #fafafa
}

/* Holder  */
