/*
Author - James Byrne

Submission for Rich Web Development Assignment 1
*/


/*Column definitions */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin: 0;
}

.grid {
  width: 100%;
  overflow: hidden;
}
.grid-pad {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 0;
}

.no-top {
  padding-top: 0;
}

.col-1-1, .col-1-2 {
  float: left;
  min-height: 1px;
  /*padding-right: 30px;*/
}

.col-1-1 {
  width: 100%;
}
.col-1-2 {
  width: 50%;
  float: left;
}
.col-1-3 {
  width: 33%;
  float: left;
}
.col-2-3 {
  width: 66%;
  float: left;
}

/* Non-specifics */
/* Clips the image to a cut out shape */
/*
.cut-conrners{
  width: 150px;
  -webkit-clip-path: polygon(
    80% 0, 100% 25%, 100% 100%, 25% 100%, 0 75%, 0 0%

  );
}
*/

/* "We need a margin around the whole body" says google chrome
 * "No we dont" said James
 */
body {
  margin: 0;
  background-color: #fafafa
}


/* Grouped definitions */

.hero-content-container, .intro-content-container, .work-content-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.hero-content, .intro-content, .work-content, .education-wrapper, .skill-wrapper {
  display: block;
  position: relative;
  height: inherit;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}

.heading, .intro-heading, .work-heading, .skills-heading, .education-heading {
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #000000;
  padding-bottom: 25px;
  text-align: center;
}

section, article, header p {
  color: #727272;
}

.intro, .work {
  padding-top: 50px;
  padding-bottom: 80px;
  text-align: center;
  background-color: #FFFFFF;
}

/* CSS for the hero section  */
.hero {
  height: 100vh;
  background-image: url(file:///Users/james/development/rich-web-assignment-1/images/hero-image.jpg);
  background-repeat: no-repeat;
  background-clip: content-box;
}
.hero-content {
  display: table;
}

.hero-content span {
  display: table-cell;
  vertical-align: middle;
}

.hero-heading{
  color: #ffffff;
  font-size: 52px;
  line-height: 52px;
}

/* TODO : Is this needed? */
/*CSS for the navigation menu*/
.nav-menu {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

/* CSS for the Intro section */
.intro {
  background-color: #FAFAFA;
}

.intro-content span {
  display: table-cell;
  vertical-align: middle;
  padding-left: 15%;
  padding-right: 15%;
}


/*CSS for work section*/
/*.work {
  background-image: url(file:///Users/james/development/rich-web-assignment-1/images/background-small.png);
  background-size: cover;
}*/

.work-image {
  margin: 15px auto 15px auto;
}

.work-content {
  max-width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.col-1-2 > .work-content {
  max-width: 100%;
}

/* Skills section
 * Mind the distinction between "skills-" and "skill" especially for the headings
*/

/*see the list here https://www.pinterest.com/pin/374713631473427589/*/

.skill-icon {
  float: left;
  background: #fafafa;
}

/*
 * Curving the corners of the javascript icon
*/
.skill-icon > img {
  border-radius: 10px;
  max-height: 75px;
  max-width: 75px;
}

.skill-wrapper {
  padding-left: 10%;
  padding-right: 10%;
}

.skill-heading {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 95px;
  border-bottom: 2px solid #727272;
}

.skill-content {
  margin-left: 95px;
  text-align: left;
  height: 40px;
  margin-bottom: 25px;
}


/* CSS for education section  */

.education-wrapper {
  padding-left: 10%;
  padding-right: 10%;
}

.education-icon {
  float: left;
}

.education-icon > img{
  border-radius: 10px;
  max-height: 250px;
  max-width: 250px;
  vertical-align: middle;
}

.education-heading {
  padding-bottom: 10px;
  border-bottom: 2px solid #727272;
}

.education-content {
  max-height: 250px;
}
