/* Coolors Exported Palette - coolors.co/162521-c0e0de-2081c3-3c474b-9eefe5 */

$DarkJungleGreen: #162521; //rgba(22, 37, 33, 100)
$iceberg: #c0e0de; //rgba(192, 224, 222, 100)
$curious-blue: #2081c3; //rgba(32, 129, 195, 100)
$arsenic: #3c474b; //rgba(60, 71, 75, 100)
$cruise: #9eefe5; //rgba(158, 239, 229, 100)


// DarkJungleGreen is for the footer
